sublime-project
sublime-workspace
tmp
save
snapshots
project/project
project/target
target
.metals
.vscode
.bloop/
.idea/
*.imlscala.txt
misc/classpath.txt
sammich.xml
.DS_Store
scala.txt
output
somefile.txt
tmp/
.dotty-ide-artifact
.dotty-ide.json
akka.log
_site
project/metals.sbt
.bsp/
src/worksheet/
