HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 120%; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Bitstream Vera Sans", sans-serif; BACKGROUND: white; COLOR: black; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 120%; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "Bitstream Vera Sans", sans-serif; BACKGROUND: white; COLOR: black; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV#main {
	MARGIN: 1em 2em
}
DIV#main FORM {
	BORDER-BOTTOM: #dcdde0 1px solid; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 1.3em; PADDING-RIGHT: 1.3em; BACKGROUND: url(../images/round-tr.png) #eaebee no-repeat right top; CLEAR: both; PADDING-TOP: 0.5em
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A:link {
	COLOR: #365d95; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #365d95; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #1f2126; TEXT-DECORATION: underline
}
A:active {
	COLOR: #1f2126; TEXT-DECORATION: underline
}
ACRONYM:hover {
	CURSOR: help
}
ABBR:hover {
	CURSOR: help
}
ABBR[title] {
	BORDER-BOTTOM: thin dotted; CURSOR: help
}
ACRONYM[title] {
	BORDER-BOTTOM: thin dotted; CURSOR: help
}
SPAN[title] {
	BORDER-BOTTOM: thin dotted; CURSOR: help
}
STRONG[title] {
	BORDER-BOTTOM: thin dotted; CURSOR: help
}
PRE {
	LINE-HEIGHT: 100%; FONT-FAMILY: "Bitstream Vera Sans Mono", monospace; WHITE-SPACE: pre
}
CODE {
	LINE-HEIGHT: 100%; FONT-FAMILY: "Bitstream Vera Sans Mono", monospace; WHITE-SPACE: pre
}
TT {
	LINE-HEIGHT: 100%; FONT-FAMILY: "Bitstream Vera Sans Mono", monospace; WHITE-SPACE: pre
}
PRE.progress {
	BORDER-BOTTOM: #dcdde0 1px solid; BORDER-LEFT: #dcdde0 1px solid; PADDING-BOTTOM: 0.5em; MARGIN-TOP: 0px; PADDING-LEFT: 1.3em; PADDING-RIGHT: 1.3em; HEIGHT: 12em; FONT-SIZE: small; OVERFLOW: auto; BORDER-TOP: #dcdde0 1px solid; BORDER-RIGHT: #dcdde0 1px solid; PADDING-TOP: 0.5em
}
H3.status_progress {
	BORDER-BOTTOM: 0px; BORDER-LEFT: #dcdde0 1px solid; PADDING-BOTTOM: 0.4em; TEXT-INDENT: 0px; PADDING-LEFT: 0.8em; PADDING-RIGHT: 0.8em; MARGIN-BOTTOM: 0px; BACKGROUND: white; OVERFLOW: hidden; BORDER-TOP: #dcdde0 1px solid; BORDER-RIGHT: #dcdde0 1px solid; PADDING-TOP: 0.4em
}
FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0.23em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LETTER-SPACING: 0.06em; FONT-SIZE: 1.1em; PADDING-TOP: 1em
}
FIELDSET P {
	PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-LEFT: 1em; PADDING-RIGHT: 0px; BACKGROUND: url(../images/double.png) #eaebee repeat-x left top; BORDER-TOP: #cbcdd5 1px solid; PADDING-TOP: 0.7em
}
INPUT#uri {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #bbb 1px solid; PADDING-BOTTOM: 0.2em; FONT-VARIANT: normal; MARGIN: 0.3em 0px 0px 1em; PADDING-LEFT: 0.2em; WIDTH: 95%; PADDING-RIGHT: 0.2em; FONT-FAMILY: Monaco, "Courier New", Monospace; MAX-WIDTH: 1000px; BACKGROUND: url(../images/textbg.png) #fefefe no-repeat left top; FONT-SIZE: 0.9em; BORDER-TOP: #777 1px solid; BORDER-RIGHT: #bbb 1px solid; PADDING-TOP: 0.2em
}
P.submit_button {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/double.png) #eaebee repeat-x left top; BORDER-TOP: #cbcdd5 1px solid; PADDING-TOP: 0.6em
}
P.submit_button INPUT {
	BORDER-BOTTOM: #444 2px solid; TEXT-ALIGN: center; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 0.1em; PADDING-LEFT: 0.3em; WIDTH: 9em; PADDING-RIGHT: 0.4em; BACKGROUND: url(../images/grad.png) #eee repeat-x left top; COLOR: #365d95; FONT-SIZE: 1em; OVERFLOW: visible; BORDER-TOP: #aaa 1px solid; CURSOR: pointer; BORDER-RIGHT: #444 2px solid; PADDING-TOP: 0.3em
}
P.submit_button INPUT:active {
	BORDER-BOTTOM: #aaa 1px solid; BORDER-LEFT: #444 2px solid; COLOR: #1f2126; BORDER-TOP: #444 2px solid; BORDER-RIGHT: #aaa 1px solid
}
A:link IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
A:visited IMG {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
A IMG {
	COLOR: black
}
UL.toc {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL LI {
	PADDING-BOTTOM: 0.1em; PADDING-LEFT: 0.1em; PADDING-RIGHT: 0.1em; PADDING-TOP: 0.1em
}
TH {
	TEXT-ALIGN: left
}
.hideme {
	DISPLAY: none
}
H1 A {
	BACKGROUND-COLOR: inherit; COLOR: inherit
}
H1 A:hover {
	BACKGROUND-COLOR: inherit; COLOR: inherit
}
H2 A {
	BACKGROUND-COLOR: inherit; COLOR: inherit
}
H2 A:hover {
	BACKGROUND-COLOR: inherit; COLOR: inherit
}
H3 A {
	BACKGROUND-COLOR: inherit; COLOR: inherit
}
H3 A:hover {
	BACKGROUND-COLOR: inherit; COLOR: inherit
}
IMG {
	VERTICAL-ALIGN: middle
}
ADDRESS IMG {
	WIDTH: 88px; FLOAT: right
}
ADDRESS {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: white; PADDING-LEFT: 2em; PADDING-RIGHT: 2em; COLOR: #888; FONT-SIZE: small; PADDING-TOP: 0px
}
P.copyright {
	TEXT-ALIGN: justify; LINE-HEIGHT: 120%; TEXT-TRANSFORM: uppercase; MARGIN-TOP: 5em; FONT-FAMILY: "Bitstream Vera Sans Mono", monospace; MAX-WIDTH: 85ex; COLOR: #888; MARGIN-LEFT: auto; FONT-SIZE: xx-small; MARGIN-RIGHT: auto; PADDING-TOP: 0.5em
}
P.copyright A {
	COLOR: #88f; TEXT-DECORATION: none
}
H1#title {
	PADDING-BOTTOM: 0.43em; LINE-HEIGHT: 1; MARGIN: 0px; FONT-FAMILY: "Myriad Web", "Myriad Pro", "Gill Sans", Helvetica, Arial, Sans-Serif; BACKGROUND: url(../images/head-bl.png) no-repeat left bottom; COLOR: #fdfdfd; FONT-SIZE: 1.6em; FONT-WEIGHT: normal
}
H1#title A {
	BACKGROUND-COLOR: #365d95
}
H1#title A IMG {
	BACKGROUND-COLOR: #365d95
}
H1 SPAN {
	BORDER-BOTTOM: #4e6f9e 1px solid; BORDER-TOP-COLOR: #4e6f9e; BORDER-RIGHT-COLOR: #4e6f9e; BORDER-LEFT-COLOR: #4e6f9e
}
H1#title A:link {
	COLOR: #fdfdfd !important; TEXT-DECORATION: none
}
H1#title A:hover {
	COLOR: #fdfdfd !important; TEXT-DECORATION: none
}
H1#title A:visited {
	COLOR: #fdfdfd !important; TEXT-DECORATION: none
}
H1#title A:active {
	COLOR: #fdfdfd !important; TEXT-DECORATION: none
}
H1#title IMG {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 0.7em
}
P#tagline {
	PADDING-BOTTOM: 1em; LINE-HEIGHT: 100% !important; BACKGROUND-COLOR: transparent; MARGIN: -2em 0px 0px 12.1em; LETTER-SPACING: 0.1em; COLOR: #d0dcee; FONT-SIZE: 0.7em
}
DIV#banner {
	MARGIN: 1.5em 2em; BACKGROUND: url(../images/head-br.png) #365d95 no-repeat right bottom
}
H2 {
	TEXT-ALIGN: left; LINE-HEIGHT: 120%; FONT-STYLE: normal; MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em; FONT-SIZE: 1.5em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
H3 {
	PADDING-BOTTOM: 0.2em; BACKGROUND-COLOR: #eee; FONT-STYLE: normal; TEXT-INDENT: 1em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; FONT-SIZE: 1.3em; BORDER-TOP: black 1px dotted; FONT-WEIGHT: normal; TEXT-DECORATION: none; PADDING-TOP: 0.2em
}
UL#menu {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0.3em; MARGIN: 1em 2em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/round-br.png) #eaebee no-repeat right bottom; BORDER-TOP: #dcdde0 1px solid; PADDING-TOP: 0.5em
}
UL#menu SPAN {
	DISPLAY: none
}
UL#menu A:link {
	BACKGROUND: #eaebee; COLOR: #365d95; TEXT-DECORATION: none
}
UL#menu A:visited {
	BACKGROUND: #eaebee; COLOR: #365d95; TEXT-DECORATION: none
}
UL#menu A:hover {
	COLOR: #1f2126; TEXT-DECORATION: underline
}
UL#menu A:active {
	COLOR: #1f2126; TEXT-DECORATION: underline
}
UL#menu LI {
	DISPLAY: inline; MARGIN-RIGHT: 0.8em
}
.report {
	WIDTH: 100%
}
TABLE.report {
	BORDER-COLLAPSE: collapse
}
TABLE.report TH {
	PADDING-BOTTOM: 0.5em; BACKGROUND-COLOR: #fcfcfc; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em
}
TABLE.report TD {
	PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; PADDING-TOP: 0.5em
}
DL.report {
	BORDER-BOTTOM: #eaebee 1px solid; BORDER-LEFT: #eaebee 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: 0px !important; MARGIN-RIGHT: 0px !important; BORDER-RIGHT: #eaebee 1px solid; PADDING-TOP: 0px
}
DL.report DT {
	BORDER-BOTTOM: 0px
}
DL.report DD {
	BORDER-BOTTOM: 0px
}
DL.report DT {
	MARGIN-TOP: 0.8em; PADDING-LEFT: 0.5em; BORDER-TOP: #eaebee 1px solid; FONT-WEIGHT: bold; PADDING-TOP: 0.5em
}
DL.report DT SPAN.msg_loc {
	FONT-WEIGHT: normal
}
DL.report DT SPAN.redirected_to {
	FONT-WEIGHT: normal
}
DL.report DD {
	PADDING-BOTTOM: 0px; TEXT-INDENT: 0px; MARGIN: 0px 0px 0px 1.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-TOP: 0px
}
DL.report DD.responsecode {
	FONT-SIZE: smaller; PADDING-TOP: 1em
}
DL.report DD.message_explanation {
	MARGIN-BOTTOM: 1.5em; FONT-SIZE: smaller
}
DL.report DD P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 150%; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.settings {
	FLOAT: right; FONT-SIZE: smaller
}
DIV.settings UL {
	MARGIN: 0px; PADDING-LEFT: 1.5em
}
.unauthorized {
	BACKGROUND-COLOR: aqua
}
.redirect {
	FONT-STYLE: italic; FONT-WEIGHT: normal
}
.broken {
	COLOR: #aa0000
}
DL.report .broken {
	FONT-WEIGHT: bold
}
.multiple {
	COLOR: fuchsia
}
.dubious {
	FONT-STYLE: italic
}
SPAN.err_type IMG {
	PADDING-BOTTOM: 0.2em; WIDTH: 1.2em; HEIGHT: 1.2em; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 0.5em
}
DIV#don_program {
	BORDER-BOTTOM: #55b05a 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #55b05a 1px solid; PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 150%; MARGIN-TOP: 0.5em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BORDER-TOP: #55b05a 1px solid; BORDER-RIGHT: #55b05a 1px solid; PADDING-TOP: 0.5em
}
DIV#don_program SPAN#don_program_img {
	WIDTH: 150px; FLOAT: left; HEIGHT: 60px
}
DIV#don_program SPAN#don_program_img IMG {
	VERTICAL-ALIGN: middle
}
DIV#don_program SPAN#don_program_text {
	
}
DIV#don_program SPAN#don_program_text A {
	FONT-WEIGHT: bold
}
